<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308500782481-2p5pqjke36li511hliha77mi4r94u4v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308500782481-2p5pqjke36li511hliha77mi4r94u4v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDpSArKZOlePtltuyrhs-EzCcBXBprDKoY</string>
	<key>GCM_SENDER_ID</key>
	<string>308500782481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.map</string>
	<key>PROJECT_ID</key>
	<string>mapit-test-d3e80</string>
	<key>STORAGE_BUCKET</key>
	<string>mapit-test-d3e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308500782481:ios:6b7cd3854e9f10e4eece30</string>
</dict>
</plist>